<div class="card card-coin card-plain text-center" (click)="onCardClick()">
  <div class="card-header">
    <img
      alt="Raised circle image"
      class="img-center img-fluid rounded-circle shadow-lg"
      [src]="store.image_background | notimage"
    />
    <h4 class="title">{{ store.name | notempty }}</h4>
    <a
      [href]="store.domain | noturl"
      target="_blank"
      rel="external"
      (click)="$event.stopPropagation()"
      >{{ store.domain | notempty }}</a
    >
  </div>
  <div class="card-body">
    <p class="text-muted">
      {{ LABELS.totalGames }}: {{ store.games_count.toString() | notempty }}
    </p>
  </div>
</div>
