<div class="modal-content">
  <div class="modal-header justify-content-center">
    <button
      class="close"
      data-dismiss="modal"
      type="button"
      (click)="bsModalRef.hide()"
    >
      <i class="tim-icons icon-simple-remove"> </i>
    </button>
    <h4 class="title title-up">{{ title | notempty }}</h4>
  </div>
  <div class="modal-body">
    <app-carousel [slides]="images"></app-carousel>
    <blockquote class="blockquote">
      <p class="lead text-muted">
        {{ description | notempty }}
      </p>
      <footer class="blockquote-footer text-right">
        Fecha de lanzamiento:
        <cite title="Source Title">{{ released | date : "dd/MM/yyyy" }}</cite>
      </footer>
    </blockquote>
    <section class="ratings">
      <ng-container *ngFor="let rating of ratings">
        <app-progress-bar
          [title]="rating.title | titlecase | notempty"
          [percent]="rating.percent || 0"
          [colorClass]="setRatingColor(rating.title)"
        ></app-progress-bar>
      </ng-container>
    </section>
  </div>
  <div class="modal-footer"></div>
</div>
