<div class="modal-content">
  <div class="modal-header justify-content-center">
    <button
      class="close"
      data-dismiss="modal"
      type="button"
      (click)="bsModalRef.hide()"
    >
      <i class="tim-icons icon-simple-remove"> </i>
    </button>
    <h4 class="title title-up">{{ title }}</h4>
  </div>
  <div class="modal-body">
    <carousel [showIndicators]="false">
      <slide>
        <img
          alt="First slide"
          class="d-block w-100"
          src="assets/img/denys.jpg"
        />
      </slide>
      <slide>
        <img
          alt="Second slide"
          class="d-block w-100"
          src="assets/img/fabien-bazanegue.jpg"
        />
      </slide>
      <slide>
        <img
          alt="Third slide"
          class="d-block w-100"
          src="assets/img/mark-finn.jpg"
        />
      </slide>
    </carousel>
    <blockquote class="blockquote">
      <p class="lead text-muted">
        {{ description }}
      </p>
    </blockquote>
    <p class="text-muted text-center">
      Fecha de lanzamiento:
      <strong>{{ released | date : "dd/MM/yyyy" }}</strong>
    </p>
    <section class="ratings">
      <ng-container *ngFor="let rating of ratings">
        <app-progress-bar
          [title]="rating.title | titlecase"
          [percent]="rating.percent"
          [colorClass]="setRatingColor(rating.title)"
        ></app-progress-bar>
      </ng-container>
    </section>
  </div>
  <div class="modal-footer"></div>
</div>
