<div class="modal-content">
  <div class="modal-header justify-content-center">
    <button
      class="close"
      data-dismiss="modal"
      type="button"
      (click)="bsModalRef.hide()"
    >
      <i class="tim-icons icon-simple-remove"> </i>
    </button>
    <h4 class="title title-up">{{ title }}</h4>
  </div>
  <div class="modal-body">
    <p>
      {{ description }}
    </p>
    <p>Fecha de lanzamiento: {{ released | date : "dd/MM/yyyy" }}</p>
    <section class="ratings">
      <ng-container *ngFor="let rating of ratings">
        <app-progress-bar
          [title]="rating.title | titlecase"
          [percent]="rating.percent"
          [colorClass]="setColorRating(rating.title)"
        ></app-progress-bar>
      </ng-container>
    </section>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" type="button">Nice Button</button>
    <button
      class="btn btn-danger"
      data-dismiss="modal"
      type="button"
      (click)="bsModalRef.hide()"
    >
      Close
    </button>
  </div>
</div>
