<nav
  class="navbar navbar-expand-lg fixed-top navbar-transparent"
  color-on-scroll="100"
  id="navbar-top"
>
  <div class="container">
    <div class="navbar-translate">
      <a
        class="navbar-brand"
        placement="bottom"
        [routerLink]="['/home']"
        target="_blank"
        tooltip="Designed and Coded by Creative Tim"
      >
        <span> BLK• </span> Stores APP
      </a>
    </div>
  </div>
</nav>
<div class="wrapper">
  <div class="page-header header-filter">
    <div class="squares square1"></div>
    <div class="squares square2"></div>
    <div class="squares square3"></div>
    <div class="squares square4"></div>
    <div class="squares square5"></div>
    <div class="squares square6"></div>
    <div class="squares square7"></div>
    <div class="container">
      <div class="content-center brand">CONTENT</div>
    </div>
  </div>
</div>
