<div *ngIf="store" class="detail-container container">
  <section class="card">
    <div class="card-header">
      <h1 class="text-white text-center font-weight-light">
        {{ store.name | notempty }}
      </h1>
    </div>
    <div class="card-body">
      <div class="detail-content">
        <div class="img-description">
          <img
            alt="Header image"
            class=""
            [src]="store.image_background | notimage"
          />
          <blockquote
            [innerHTML]="store.description | notempty"
            class="blockquote blockquote-info"
          ></blockquote>
        </div>
        <div class="list-games">
          <div>
            <h4 class="text-muted">Lista de juegos:</h4>
            <ul>
              <li
                *ngFor="let game of store.games"
                class="list-item mb-2"
                (click)="getGameDetails(game.id)"
              >
                {{ game.name | notempty }}
              </li>
            </ul>
          </div>
          <blockquote class="blockquote text-center">
            <a
              [href]="store.domain | noturl"
              target="_blank"
              rel="external"
              (click)="$event.stopPropagation()"
              >{{ store.domain | notempty }}</a
            >
            <footer class="blockquote-footer">
              Número de juegos:
              <cite title="Source Title">{{
                store.games_count.toString() | notempty
              }}</cite>
            </footer>
          </blockquote>
        </div>
      </div>
    </div>
  </section>
</div>
